<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BioNetDAL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <BioNetDAL.Properties.Settings>
            <setting name="BioNetDAL_vn_viettel_apismsbrand_CcApi" serializeAs="String">
                <value>http://apismsbrand.viettel.vn:8998/bulkapi</value>
            </setting>
            <setting name="BioNetDAL_WebReference_CcApi" serializeAs="String">
                <value>http://125.235.4.202:8998/bulkapi</value>
            </setting>
        </BioNetDAL.Properties.Settings>
    </applicationSettings>
</configuration>